# String

#Task 1
Write a Python program to count the total number of alphabets, digits, and special characters in a string.
Here, space is considered as a special character.

====================================================

Sample Input:\
This is CSE110 Course.\
Sample Output:\
The number of Alphabets in the string is: 15\
The number of Digits in the string is : 3\
The number of Special characters in the string is: 4

In [ ]:

user_input = input("Please enter a string: ")
count1 = 0
count2 = 0
count3 = 0
for i in range(len(user_input)):
  if 65 <= ord(user_input[i]) <= 90 or 97 <= ord(user_input[i]) <= 122:
    count1 = count1 + 1
  #print("The number of Alphabets in the string is:", count1)
  elif 48 <= ord(user_input[i]) <= 57:
    count2 = count2 + 1
  else:
    count3 = count3 + 1
print("The number of Alphabets in the string is:",count1)
print("The number of Digits in the string is:",count2)
print("The number of Special characters in the string is:",count3)

#Task 2
Write a Python program to find the largest and smallest word in a string.
[you are not allowed to use max() and min()]\
Sample Input :\
It is a string with the smallest and largest word.\
Sample Output :\
The largest word is “smallest” and the smallest word is 'a'.

In [ ]:

user = input("Please enter the string: ")
user_1 = user.split(" ")
max = len(user_1[0])
min = max
for i in user_1:
  if len(i) > max:
    max = len(i)
    max_word = i
  elif len(i)< min:
    min = len(i)
    min_word = i
print('The largest word is "'+max_word+ '" and the smallest word is '+"'"+min_word+"'"+".")

#Task 3
Write a Python program that takes two strings from the user. Then remove characters from the firststring which are present in the second string. [you are not allowed to use replace() ]

=====================================================

Sample Input1:\
India is great\
is\
Sample Output1:\
nda great

=====================================================

Sample Input2:\
this is cSe110 course and we love it\
lo1iva\
Sample Output2:\
ths s cse0 curse nd we e t

=====================================================

Sample Input3:\
next course is cse111\
lo1iva\
Sample Output3:\
ext coure i ce111

In [ ]:

str_1 = input()
str_2 = input()
str_1 = str_1.lower()
em_str = ""
l1 = []
for i in range(len(str_2)):
  l1.append(str_2[i])
for i in str_1:
  if i not in l1:
    em_str = em_str + i
print(em_str)

#Task 4
Write a Python program to Capitalize the first character of each word in a String [You cannot use the built-in upper() function]\
Sample Input:\
I love python programming\
Sample Output:\
I Love Python Programming

In [ ]:

str_1 = input()
new = str_1[0]
for i in range(1,len(str_1)):
  if str_1[i-1] == " " and 97 <= ord(str_1[i]) <= 122:
    new =  new + chr(ord(str_1[i])-32)
  else:
    new = new + str_1[i]
print(new)

#Task 5
Write a python function that takes a string with multiple numbers separated by commas as input from the user. Extract the numbers from the string and make a list and print it. Multiply the numbers of the
list and print the product. [Hint: You can use split()]

=====================================================

Sample Input1:\
1,2,3,4,5\
Sample output1:\
['1', '2', '3', '4', '5']\
Product:120

=====================================================

Sample Input2:\
10,0,20,3,1\
Sample Output2:\
['10', '0', '20', '3', '1']\
Product:0

In [ ]:

string_input = input("Please enter a string of numbers: ")
string = string_input.split(",")
print("The list:",string)
multi = 1
for i in string:
  multi = multi * int(i)
print("Product:",multi)

#Task 6
Write a Python program that reads a number and finds the sum of the series of 1 +11 + 111 + 1111 + ....+N terms.

=====================================================

Sample Input1:\
5\
Sample Output1:\
1 + 11 + 111 + 1111 + 11111\
The Sum is: 12345

=====================================================

Sample Input2:\
8\
Sample Output2:\
1 + 11 + 111 + 1111 + 11111 + 111111 + 1111111 + 11111111\
The Sum is: 12345678

====================================================

In [ ]:

user = int(input())
em_str = ""
total = 0
for i in range(user):
  em_str = em_str + "1"
  total = total + int(em_str)
print(total)

#Task 7
Write a Python program that reads a number and displays the multiplication table of the given integer.\
Sample Input: 15\
Sample Output :\
15X1=15\
15X2=30\
...\
...\
15X10=150

In [ ]:

numeral = int(input())
for i in range(1,11):
  multi = numeral * i
  print(numeral,"X",i,"=",multi)

# List 01

#Task 01
Assume, you have been given two lists. Print both lists simultaneously such that list1 should display items in original order and list2 in reverse order.

=====================================================

Given lists:\
List1 = [10,20,30,40]\
List2 = [100,200,300,400]\
Sample Output:\
10 400\
20 30\
30 200\
40 100

=====================================================

Given lists:\
List1 = [90,30,-30,20,12]\
List2 = [-8,-5,-2,100,6]\
Sample Output:\
90 6\
30 100\
-30 -2
20 -5
12 -8

In [ ]:

list_1 = [10,20,30,40]
list_2 = [100,200,300,400]
list_3 = []
for k in range(len(list_2)-1,-1,-1):
  list_3.append(list_2[k])
for i in range(0,len(list_1)):
  for j in range(0,len(list_3)):
    if i == j:
      print(list_1[i],list_3[j])

#Task 2
Write a Python program to reverse strings in a given list of string values without using reverse() or reversed().\
Sample Input: ['Red','Green','Blue','White','Black']\
Sample Output: ['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [ ]:

list_1 = ['Red','Green','Blue','White','Black']
new_list = []
for i in list_1:
  new = ''
  for j in range(len(i)-1,-1,-1):
    new = new + i[j]
  new_list.append(new)
print(new_list)

#Task 3
Write a Python program that takes a list from the user. Then find the first even and first odd number in the list.

=====================================================

**Sample Input1:**\
[1, 3, 5, 7, 4, 1, 6, 8]\
**Sample Output1:**\
First even:4 and First odd:1

=====================================================

**Sample Input2:**\
[55, 5, 7, 9, 11]\
**Sample Output2:**\
First even: not found and First odd: 55

=====================================================

**Sample Input3**\
[50, 52, 6, 2, 10]\
**Sample Output3:**\
First even: 50 and First odd: not found

In [14]:
lst = list([55, 5, 7, 9, 11])
for i in range(len(lst)):
  if lst[i]%2 == 0:
    even = lst[i]
    break
  else:
    even = "not found"
for i in range(len(lst)):
  if lst[i]%2 != 0:
    odd = lst[i]
    break
  else:
    odd = "not found"

print("First even:", even,"and First odd:", odd)

First even: not found and First odd: 55

#Task 4
Assume, you have been given a list T and a number, N. Now, create a list by concatenating the input list which range goes from 1 to N.

=====================================================

**Sample input1:**\
T = ['p', 'q']\
N = 5\
**Sample Output1:**\
['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

=====================================================

**Sample input2:**\
T = ['p', 'q', 'r']\
N = 3\
**Sample Output2:**\
['p1', 'q1', 'r1', 'p2', 'q2', 'r2', 'p3', 'q3', 'r3']

=====================================================

**Sample input3:**\
T = ['p', 'q', 'r','s']\
N = 2\
**Sample Output3:**\
['p1', 'q1', 'r1', 's1', 'p2', 'q2', 'r2', 's2']

In [15]:

List1 = ['p', 'q', 'r','s']
Numeral = 2
new_list = []
for i in List1:
  for j in range(1,Numeral+1):
    new = i + str(j)
    new_list.append(new)
print(new_list)

['p1', 'p2', 'q1', 'q2', 'r1', 'r2', 's1', 's2']